
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  padding: 10px 2px;
  padding-bottom: 10px;
  left: 0px;
  z-index: 1000;
  margin-bottom: -15px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.nav a {
  margin: 0 15px;
  font-size: 18px;
  color: #333;
}

.nav a:hover {
  color: #00BFA6;
}

.nav .setting{
  color: #00BFA6;
}


.account-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.account-header h1 {
  font-size: 24px;
}

.account-header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.account-header nav #active {
  color: #00BFA6;
  font-weight: bold;
}

.button {
  background-color: white;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 15px;
}

.account-settings {
  max-width: 600px;
  width: 90%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
  margin: 0 auto;
}

.update-button, .delete-button, .save-button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button {
  background-color: #007bff;
  color: #fff;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.save-button {
  background-color: #F86D70;
  color: #fff;
}

.form {
  margin-top: 20px;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
