
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .nav a {
    margin: 0 15px;
    font-size: 18px;
    color: #333;
  }
  
  .nav a:hover {
    color: #00BFA6;
  }

  .nav .home{
    color: #00BFA6;
  }
  
  